In [ ]:
s="nikhil"
print(s)

nikhil

In [ ]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
l1=["nikhil","34","34","67","12"]
print(l1)

['nikhil', '34', '34', '67', '12']

In [ ]:
l1[3]="sachan"

In [ ]:
l1

['nikhil', '34', '34', 'sachan', '12']

In [ ]:
# TUPLES

In [ ]:
t={2,3,4,5,"sachan","method"}

In [ ]:
type(t)

set

In [ ]:
s1={"nikhil",2,3,5,7,12,89,"saachan"}
print(s1)

{2, 3, 5, 7, 12, 'nikhil', 'saachan', 89}

In [ ]:
l2=set(s1)
print(l2)

{2, 3, 5, 7, 12, 'nikhil', 'saachan', 89}

In [ ]:
a={"key":"value"}
print(a)

{'key': 'value'}

In [ ]:
a1={2312:"value"}
print(a1)

{2312: 'value'}

In [ ]:
d3={"name":"nikhil","lastname":"sachan","course":["wev dev","data science","dsa","systemdesign"]}
print(d3)

{'name': 'nikhil', 'lastname': 'sachan', 'course': ['wev dev', 'data science', 'dsa', 'systemdesign']}

In [ ]:
d3["name"]

'nikhil'

In [ ]:
d3["course"][3]

'systemdesign'

In [ ]:
d6={"number":[2,3,4,5,6],"course":(7,6,5,4,3,2,1),"date":{"web dev01":"by hritikek","web dev02":"by harry","web dev03":"by apana college"}}

In [ ]:
d6["number"]
d6["course"]
d6["date"]["web dev"]

'by apana college'

In [ ]:
d6["mentor"]=["nikhil","sachan","nachiket","singh"]
d6

{'number': [2, 3, 4, 5, 6],
 'course': (7, 6, 5, 4, 3, 2, 1),
 'date': {'web dev01': 'by hritikek',
  'web dev02': 'by harry',
  'web dev03': 'by apana college'},
 'mentor': ['nikhil', 'sachan', 'nachiket', 'singh']}

In [ ]:
d6.keys()

dict_keys(['number', 'course', 'date', 'mentor'])

In [ ]:
marks=int(input("enter your number:- "))
if(marks>=80):
    print("welcome come to a Alpha batch ")
elif(marks>=70):
    print("welcome to the batch a1 ")
elif(marks>=60):
    print("welcome to the batch a2")
else:
    print("welcome to the batch a3 ")

enter your number:- 79
welcome to the batch a2

In [ ]:
marks=int(input("enter your marks:-"))
if(marks>=80):
    print("you are the alphs student")
elif(marks>=60) and (marks<80):
    print("you will be the part of a1 batch")
elif(marks>=40)and (marks<60):
    print("you will be the part of a2 batch")
else:
    print("you will be the part of a3 batch")

enter your marks:--23
you will be the part of a3 batch

In [ ]:
skills_require=input("enter your skills:- ")
required_skills=["numpy","pandas","matplotlib","seabon"]
if(skills_require == required_skills):
    print("you will get the job")
else:
    print("you are not eligible")

enter your skills:- numpy
you are not eligible

In [ ]:
# Taking input from the user and splitting it into a list of skills
skills_require = input("Enter your skills (comma-separated): ").split(",")

# Defining the required skills list
required_skills = ["numpy", "pandas", "matplotlib", "seaborn"]

# Checking if any of the input skills match the required skills
if any(skill.strip().lower() in required_skills for skill in skills_require):
    print("You will get the job")
else:
    print("You are not eligible")

Enter your skills (comma-separated): numpy
You will get the job

In [ ]:
balance=int(input("enter the balance on the your account:- "))
if(balance>100000):
    print("alexa add apple to the cart")
else:
    print("alexa not to ad aaple to the cart")

enter the balance on the your account:- 1200000
alexa add apple to the cart

In [ ]:
if 1==01:
    print('True')
else:
    print('False')

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-23-7fbbe8a536c3>, line 1)

In [23]:
l2=[]
l1=[1,2,3,4,5,6,7,8]
for i in l1:
    print(i+1)
    l2.append(i+1)

2
3
4
5
6
7
8
9

In [24]:
l2

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
l=["subh","kumar","pwskills","course"]
l1=[]

for i in l:
    print(i)
    l1.append(i.upper())

subh
kumar
pwskills
course

['SUBH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [36]:
l1

['SUBH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [38]:
l=[1,2,3,4,4,"subh","kumar",324,34.456,"abc"]
l_num=[]
l_str=[]
for i in l:
    if type(i)==int or type(i)==float:
        l_num.append(i)
    else:
        l_str.append(i)

['subh', 'kumar', 'abc']

In [39]:
l_num

[1, 2, 3, 4, 4, 324, 34.456]

In [40]:
l_str

['subh', 'kumar', 'abc']